/* 1199px 991px 767px 600px 500px*/
@media (min-width: 1200px) {
	.for_page .container {
		max-width: 1488px;
	}

}

@media (max-width: 1570px) {
	.video_box .youtube {
		margin-left: 0px;
	}

	.calculate .passport p {
		max-height: 77px;
	}

	.calculate .left_child .passport {
		padding: 35px 0px 29px 160px;
	}

	.calculate .right_child .passport {
		padding: 33px 0px 27px 158px;
	}

	.calculate .left_child .passport p::before {
		right: -100px;
	}

	.calculate .right_child .passport p::before {
		right: -100px;
	}

	.calculate .passport p {
		max-width: 300px;
	}
}

@media (max-width: 1440px) {
	.for_page .container {
		max-width: 1100px;
	}

	.calculate .left_child .passport {
		padding: 30px;
		overflow: hidden;
	}

	.calculate .right_child .passport {
		padding: 30px;
		overflow: hidden;
	}

	.calculate .left_child .passport h2 {
		margin-left: 75px;
	}

	.calculate .right_child .passport h2 {
		margin-left: 75px;
	}

	.calculate .left_child .passport h2::before {
		left: -70px;
	}

	.calculate .right_child .passport h2::before {
		left: -70px;
	}

	.calculate .right_child .passport {
		max-height: 188px;
	}

	.calculate .left_child .passport p::before {
		right: -43%;
	}

	.calculate .right_child .passport p::before {
		right: -43%;
	}

	.calculate .left_child .passport {
		max-height: 190px;
	}

	.offers .offers_child2,
	.offers .offers_child4 {
		margin-left: 0px;
	}

	.offers .offers_child2 {
		margin-bottom: 23px;
	}

	.offers .offers_child p {
		max-width: 246px;

	}

	.offers .offers_child p {
		max-width: 246px;
		max-height: 78px;
		overflow: hidden;
	}

	.video_text::before {
		width: 1130px;
	}
}

@media (max-width: 1199px) {
	.trepte .child_line:before {
		display: none;
	}

	.trepte .child_line:after {
		display: none;
	}

	.trepte .trepte_child1 {
		border: 2px solid transparent;
		border-top: #57606A;
		border-left: #57606A;
		border-right: #57606A;
		-webkit-border-top-left-radius: 24px;
		-webkit-border-top-right-radius: 24px;
		-moz-border-radius-topleft: 24px;
		-moz-border-radius-topright: 24px;
		border-top-left-radius: 24px;
		border-top-right-radius: 24px;
	}

	.video_box .youtube {
		margin-left: 0px;
		margin-top: 70px;
	}

	.footer {
		padding-top: 60px;
		padding-bottom: 30px;
	}

	.footer .logo {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 20px;
		padding-bottom: 40px;
	}

	.footer .link {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.footer .bank {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 40px;
		padding-bottom: 20px;
	}

	.video_text::before {
		width: 100%;
		left: 0;
		height: 317%;
	}

	.video_text::after {
		top: 785px;
	}
}

@media (max-width: 991px) {
	.calculate .container {
		max-width: 500px;
	}

	.header {
		padding-top: 46px;
		background: url(../img/bg_header.jpg) -930px 722px no-repeat;
		padding-bottom: 887px;
	}

	.banner {
		background-color: white;
		box-shadow: 0px 4px 20px white;
	}

	.banner {
		background-color: white;
		box-shadow: 0px 104px 131px white;
	}

	.action .action_box {
		flex-direction: column;
		align-items: center;
		max-width: 600px;
		margin: 0 auto;
		padding: 10px;
	}

	.action .action_box .action_text h2 {
		margin-top: 10px;
	}

	.action .action_box .action_text p {
		margin-top: 15px;

	}

	.action_img img {
		width: 303px;
		height: 110px;
	}

	.formNumber .text h2 {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 26px;
		line-height: 56px;
		color: #FFFFFF;
	}

	.offers .offers_child {
		max-height: 219px;
	}

	.offers_row {
		align-items: center;
	}

	.offers .offers_child {
		max-width: 500px;
		margin: 10px auto;
	}

	.trepte .trepte_text h2 {
		max-width: 620px;
	}

	.video_text::after {
		left: 437px;
	}


}


@media (max-width: 767px) {
	.header {
		padding-top: 46px;
		background: url(../img/bg_header.jpg) -930px 575px no-repeat;
		padding-bottom: 887px;
	}

	.header .banner h1 {
		margin-top: 46px;
	}

	.header .banner p {
		margin-bottom: 50px;
	}

	.trepte {
		padding: 60px 0;
	}

	.calculate .right_child .passport {
		max-height: 220px;
	}

	.calculate .left_child .passport {
		max-height: 222px;
	}

	.formNumber .text h2 {
		display: block;
		margin: 0 auto;
		max-width: 350px;
	}

	.formNumber .formNumber_child {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 20px;
	}

	.video_box .youtube {
		margin-left: 0px;
		margin-top: 70px;
	}

	.video .container {
		padding: 30px;
	}
}

@media (max-width: 600px) {
	.video_text::after {
		left: 257px;
	}

	.video_text::after {
		top: 946px;
	}

	.trepte .trepte_text h2 {
		max-width: 350px;
		font-size: 30px;
	}

	.video {
		padding-top: 0px;
		padding-bottom: 250px;
	}

	.offers {
		padding-top: 50px;
		padding-bottom: 60px;
	}

	.video_text::before {
		width: 100%;
		left: 0;
		height: 238%;
		top: -15px;
	}

	.header .banner .btn_form1 {
		padding: 11px 11px;
	}

	.header .banner span {
		margin: 0 10px;
	}

	.header {
		background: url(../img/bg_header.jpg) -446px 498px/ 190% no-repeat;
		padding-bottom: 487px;
	}


	.video_text h2 {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 36.1815px;
		line-height: 44px;
	}

	.video_text a {
		display: block;
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}

	.video_text::before {
		width: 100%;
		left: 0;
		height: 303%;
		top: -15px;
	}

	.footer .link a {
		font-family: 'Mulish';
		font-style: normal;
		font-weight: 400;
		font-size: 21.3333px;
		line-height: 27px;
		color: #ffffffd3;
		margin-right: 25px;
		transition: 0.5s linear all;
	}

}

@media (max-width: 577px) {
	.header .call_btn a {
		margin-top: -39px;
	}

	.header .logo .logo_img img {
		width: 140px;
	}
}

@media (max-width: 500px) {
	.action .action_box .action_text h2 {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 34px;
		line-height: 56px;
		text-transform: uppercase;

		color: #001A49;
	}

	.action {
		padding-top: 60px;
	}

	.action .action_box .action_text p {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		width: 100%;
	}

	.trepte .trepte_text h2 {
		line-height: 40px;
		margin-bottom: 41px;
	}

	.action .action_box .action_img {
		display: flex;
		width: 100%;
		justify-content: flex-end;
	}

	.action .action_box {
		flex-direction: column;
		align-items: center;
		max-width: 300px;
		margin: 0 auto;
		padding: 0px;
	}

	.trepte .trepte_child h3 {
		font-size: 28px;
	}

	.trepte .trepte_child p {
		margin-bottom: 25px;
	}

	.video_text::after {
		top: 784px;
	}

	.video_text::after {
		left: 140px;
	}

	.video_text::before {
		height: 287%;
	}

	.calculate .left_child .passport {
		max-height: 168px;
		max-width: 300px;
	}

	.calculate .left_child .passport h2 {
		margin-left: 55px;
	}

	.calculate .left_child .passport h2 {
		font-size: 16px;
		line-height: 22px;
	}

	.calculate .passport p {
		max-width: 172px;
	}

	.calculate .passport p {
		font-size: 11px;
		line-height: 14px;
	}

	.calculate .left_child .passport {
		padding: 30px;
		overflow: hidden;
		margin: 20px auto;
		padding: 20px;
	}

	.calculate .right_child .passport h2::before {
		left: -56px;
	}

	.calculate .right_child .passport {
		max-height: 168px;
		max-width: 300px;
	}

	.calculate .right_child .passport h2 {
		margin-left: 55px;
	}

	.calculate .right_child .passport h2 {
		font-size: 16px;
		line-height: 22px;
	}

	.calculate .left_child .passport h2::before {
		left: -56px;
	}

	.calculate .passport p {
		max-width: 172px;
	}

	.calculate .passport p {
		font-size: 11px;
		line-height: 14px;
	}

	.calculate .right_child .passport {
		padding: 30px;
		overflow: hidden;
		margin: 20px auto;
		padding: 20px;
	}

	.calculate .right_child .passport h2::before {
		left: -56px;
	}

	.calculate .right_child .passport p {
		font-size: 11px;
		line-height: 14px;
	}

	.calculate .left_child .passport p::before {
		right: -50%;
	}

	.calculate .left_child .passport p::before {
		top: 20px;
	}

	.calculate .right_child .passport p::before {
		top: 20px;
	}

	.action .action_box .action_text p {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 500;
		font-size: 13px;
		line-height: 18px;
		width: 100%;
	}

	.header {
		background: url(../img/bg_header.jpg) -452px 470px/ 209% no-repeat;
		padding-bottom: 391px;
	}

	.calculate .calculate_text h2 {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
	}

	.header .banner h1 {
		font-size: 47px;
		line-height: 44px;
	}
}

@media (max-width: 470px) {
	.header .btn_form2 {
		font-size: 20.069px;
	}

	.header .banner span {
		font-size: 20.069px;
	}

	.header .banner .btn_form1 {
		font-size: 20px;
	}

	.header {
		background: url(../img/bg_header.jpg) -481px 396px/ 216% no-repeat;
		padding-bottom: 466px;
	}

	.formNumber .formNumber_child input {
		font-size: 20.1377px;
		width: 330px;
	}

	.footer .link a {
		margin-right: 8px;
		margin-bottom: 10px;
	}

	.footer .link {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
	}

	.footer .logo {
		justify-content: flex-start;
	}

	.footer .bank {
		justify-content: flex-start;
	}

	.header .call_btn a {
		border: 2px solid #EB242A;
		border-radius: 40px;
		padding: 12px 24px 12px 50px;
	}
}

@media (max-width: 430px) {
	.header {
		background: url(../img/bg_header.jpg) -500px 397px/ 247% no-repeat;
		padding-bottom: 466px;
	}

	.formNumber .text h2 {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 31px;
		color: #FFFFFF;
	}

	.offers .offers_child {
		padding: 15px 0 5px 102px;
	}

	.offers .offers_child h3 {
		font-size: 16px;
		line-height: 18px;
		color: #001A49;
	}

	.offers .offers_child p {
		font-family: 'Mulish';
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 15px;
		color: #4F596A;
	}

	.trepte .trepte_child1 {
		border: 2px;
		border-top: solid #57606a3a;
		border-left: solid #57606a3a;
		border-right: solid #57606a3a;
		padding-top: 30px;
	}

	.trepte .trepte_child2 {
		border-left: solid #57606a3a;
		border-right: solid #57606a3a;
	}

	.trepte .trepte_child3 {
		border-left: solid #57606a3a;
		border-right: solid #57606a3a;
		border-bottom: solid #57606a3a;
		border-bottom-left-radius: 24px;
		border-bottom-right-radius: 24px;
		-webkit-border-bottom-left-radius: 24px;
		-webkit-border-bottom-right-radius: 24px;
		-moz-border-radius-bottom-left: 24px;
		-moz-border-radius-bottom-right: 24px;
	}

	.trepte .container {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width: 350px) {

	.header {
		background: url(../img/bg_header.jpg) -416px 397px/ 247% no-repeat;
		padding-bottom: 466px;
	}

	.video_text::after {
		left: 97px;
	}

	.video_text::after {
		top: 959px;
	}

	.trepte .trepte_text h2 {
		max-width: 310px;
		font-size: 30px;
	}
}